body {
    background-color: #EFF6FF;
    font-family: 'Barlow', sans-serif;
}

.container { 
  display: flex;
  align-items: flex-start;
  gap: 0px;
}

.rectangle {
  width: 580px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-left: 0px;
}

img { 
  margin-top: 100px;
  margin-left: 320px;
}

.text {
  color: #2A4A5C;
  font-size: 25px;
  margin-left: 80px;
  
}

.overlay { 
  position: absolute;
  top: 20px;
  left: 50px;
  width: 80px;

}

.second-text {
  color: #2A4A5C;
  font-size: 15px;
  margin-left: 80px;
}

.rectangle-2 {
width: 190px;
height: 30px;
background-color: #255A9B;
overflow: hidden;      
justify-content: center;
align-items: center;
}

.rectangle-3 {
  width: 190px;
  height: 30px;
  background-color: #0076B6;
  overflow: hidden;      
  justify-content: center;
  align-items: center;
}

.container-2 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-left: 80px;
}

.rectangle-2 {
  top: 20px;
  left: 50px;
  width: 190px;
  object-fit: cover;
  background-color: #0076B6;
  border: black;
}

.image1 {
  margin-top: 5px;
  margin-left: 12px;
}

.image2 {
  margin-top: 5px;
  margin-left: 13px;
}

.p {
  font-size: 20px;
}

.custom-line{
  border: none;           /* Remove default border */
  height: 4px;            /* Thickness of the line */
  background-color: #007BFF; /* Line color */
  width: 6;             /* Line width */
  margin: 40px auto;      /* Center the line */
  border-radius: 2px;     /* Rounded edges */
}



